/* hide scrollbar webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}

html {
    background: black;
    font-size: 22px;
}

body {
    background: black;
    color: yellow;
}

iframe {
    background: black;
}

.vacancy {
    background: yellow;
    color: black;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.demo {
    background:#112a3f;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 1%;
    border: 5px double grey;
    border-radius: 6px;
}
